<nav class="navbar navbar-expand-lg navbar-light bg-bluepastel">
  <a class="navbar-brand text-white" href="#">TaskManager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link text-white" routerLink="home">Accueil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="calendar">Calendier</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="home">Graphiques</a>
      </li>
    </ul>
    <form class="form-inline my-3 my-lg-0">
      <a (click)="openModal()" class="btn-plus-top"><img src="assets/btn_plus.png" style="height:30px;  margin:10px;"/></a>
      <input class="form-control mr-sm-2" type="search" placeholder="Tâches">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Rechercher</button>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>
<!-- <main id="logout-button-holder">
  <button mat-raised-button id="logout-button" (click)="openModal()">Logout</button>
  <button mat-raised-button id="delete-product-button" (click)="openModal()">Delete Product</button>
</main>-->