.bg-bluepastel
{
	background-color: #879fc9;
}
.bg-darkbluepastel
{
	background-color: #6D80A2;
}
.bg-green
{
	background-color: #008710;
}

body
{
	background-color: #ebebeb;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
